<template>
  <div>
    <section class="orderSec">
      <div class="header">
        <div>
          <h2>قائمه الطلبات الوارده</h2>
          <p>قائمه الوارده من العملاء</p>
        </div>
        <div>
          <p>
            اجمالى عدد الطلبات
            <span>{{CountOrders}}</span>
          </p>
        </div>
      </div>
      <div v-for="order in AllOrders" :key="order.id" class="allOrders">
        <section >
          <div>
            <div>
              <p>
                <span>{{order.get_client_data.name}}</span>

                <span>هاتف 0126352634534</span>
              </p>
              <p>
                <span>
                 شارع ابوقير بحر
                </span>
                <span>
                  مبنى رقم 12
                </span>
              </p>
            </div>
            <div><p>2020/2/2</p></div>
          </div>
          <button v-on:click="details(order.id)">تفاصيل الطلب</button>
        </section>
      </div>
    </section>
  </div>
</template>
<style scoped>
.orderSec {
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 1);
  direction: rtl;
  border-radius: 4px;
  min-height: 100vh;
}
h2 {
  text-align: right;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 1);
  padding: 15px 20px;
  border-radius: 4px;
}
.header div:last-of-type p span {
  margin-right: 10px;
}
.allOrders section {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 1);
  padding: 15px 20px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  font-size: 10px;
  color: rgba(91, 102, 112, 1);
}
.allOrders section > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.allOrders section > div > div:first-child {
  width: 50%;
}
.allOrders section > div > div:first-child p {
  justify-content: space-between;
  display: flex;
}
.allOrders section > div > div:first-child p:first-child {
  width: 80%;
}
.allOrders section > div > div:first-child p:first-child span:first-child {
  font-weight: bold;
}
.allOrders section > div > div:last-child {
  width: 30%;
  line-height: 23px;
}
.allOrders section button {
  background-color: rgba(29, 176, 27, 1);
  border-radius: 20px;
  padding: 9px 44px;
  margin: 15px auto;
  color: white;
  display: block;
  font-family: inherit;
  cursor: pointer;
}
.allOrders section button:hover {
  background-color: rgb(18, 63, 18);
}
</style>
<script>
import { getCountOrdrs, getListOrdrs, orderDetails } from '@/endpoints/OrdersEndPoint'

export default {
  data () {
    return {
      CountOrders: '',
      AllOrders: ''
    }
  },
  methods: {
    async getAllCountOrders () {
      const res = await getCountOrdrs()
      this.CountOrders = res
    },
    async getListOrders () {
      const res = await getListOrdrs()
      this.AllOrders = res
    },
    async details (OrderId) {
      this.$router.push('/order/' + OrderId)
    }
  },
  mounted () {
    this.getAllCountOrders()
    this.getListOrders()
  }
}
</script>
